body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background: url('../kepek/index.jpg') no-repeat center center fixed;
    background-color: white;
    background-size: cover;
}

.profile-container {
    width: 80%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 50px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.tab-link, .sub-link {
    background-color: #f8de7e;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s ease;
}

.tab-link:hover, .sub-link:hover {

    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tab-link.active, .sub-link.active {
    background-color: #e6c76e;
}

.tab-content {
    display: none;
}

.tab-content h2 {
    margin-top: 0;
    color: #333;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 15px 0;
    text-align: center;
}

.custom-checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #f8de7e;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}

.custom-checkbox:checked {
    background-color: #f8de7e;
}

.custom-checkbox:checked::after {
    content: '✓';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 14px;
}

.custom-checkbox:hover {
    border-color: #e6c76e;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.car-container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.car-box {
    background: linear-gradient(0deg, #ffffff, #ececec);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 100%;
    max-width: 450px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.car-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.car-box h3 {
    margin: 10px 0;
    color: #333;
    font-size: 22px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}

.car-box img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}



.car-box p {
    margin: 10px 0;
    color: #555;
    font-size: 16px;
    line-height: 1.6;
}

.car-box p span {
    font-weight: bold;
    color: #333;
}